In [2]:
import pandas as pd
df = pd.read_csv('../csv/init.csv')
df

   id genre  name description   image
0   1   ソファ   ソファ       ソファです  image1
1   2  ソファ2  ソファ2      ソファです2  image2
2   3  シェルフ  シェルフ      シェルフです  image3

In [3]:
data = []

for r in df.itertuples():
    print(r.id)

1
2
3

In [4]:
import re
a = '1=%E8%A9%B3%E7%B4%B0%E6%83%85%E5%A0%B1'

In [18]:
b, c = a.split('=')

In [20]:
b

'1'

In [14]:
re.match('(?=\=).+', a)

In [15]:
re.match('\=', a)

In [16]:
re.findall('(?=\=).+', a)

['=%E8%A9%B3%E7%B4%B0%E6%83%85%E5%A0%B1']